*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #333333;
  /* background-color: #F5F5F5; */
  /* border: 1px solid green; */

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #CFCFCF;
  
  
}

.logo{
  display: flex;
}

.navbar-links{
  display: flex;
  padding-right: 3rem;
  gap: 1rem;
}

.homepage-banner{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.homepage-banner img{
  display: block;
  border-radius: 15px;
  width:80%;
  height: auto;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;

  
}

.footer{
  background-color: #333333;
}

.overlay h2{
  color: #ffffff;
  text-align: center;
  /* background-color: #ffffff; */
  border-radius: 12px;
  padding:0.6rem;
  font-size: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

@media (max-width:1000px) {
  .overlay h2{
    font-size: 1.5rem;
  }
}

@media (max-width:400px) {
  .overlay h2{
    font-size: 1rem;
  }
}


.overlay-button{
  width: 50%;
  height: 4vh;
  border-radius: 12px;
  color: #000000;
  font-weight: 700;
}

.navbar-links > button{
  padding: 1rem;
  border-radius: 12px;
  border: none;
}

.how-it-works{
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  align-items: flex-start;
  width: 80%;
}

.card-wrapper{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: fit-content;
  flex-wrap: wrap;
}

.how-it-works-card{
  width:20%;
  padding:1rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.how-it-works-card > p ,h3{
  font-size: small;
}

.homepage-testimonial{
  width: 40%;
  margin: auto;
  border-radius: 12px;
}

.homepage-testimonial > h2{
  /* text-align: center; */
  margin-bottom: 1rem;
}

.swiper-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  
}

.logo-image{
  height: 40px;
  width: 40px;
}

.logo-text{
  margin-left: 0.5rem;
  font-size: 30px;
}

.homepage-body{
  width: 100%;
}


.form{
  display: flex;
  justify-content: center;
}
form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: max-content;
  gap:0.5rem;  
  
}

fieldset{
  border: 0;
  
}

.number-of-meals{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 0;
  list-style-type: none;
  gap:0.5rem;
}

.number-of-meals > li{
  width: 13rem;
  height: 75px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.protein-preference{
  display: flex;
  padding-left: 0;
  list-style-type: none;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.protein-preference > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 13rem;
  height: 75px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.protein-preference > input{
  margin-right: 10000px;
}

.meal-size{
  display: flex;
  padding-left: 0;
  list-style-type: none;
  gap: 0.5rem;
}

.meal-size > li{
  width: 19.85rem;
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container > h3{
  text-align: center;

  margin-bottom: 1vh;
}

.form-button{
  margin-top: 1rem;
  height: 8vh;
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 700px){
  .meal-size{
    flex-direction: column;
  }
  .protein-preference{
    flex-direction: column;
  }
  .number-of-meals{
    grid-template-columns: 1fr 1fr;
  }
  .number-of-meals > li{
    width: 100px;
  }
}

.get-started-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */

}

.get-started-form-container{
  /* border: green solid; */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top:4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
}

.get-started-text{
  font-size: 2rem;;
}



.get-started-form{
  display: flex;
  flex-direction: column;
  align-items: start;
  /* border: solid green; */
}

.get-started-form > input{
  width: 35rem;
  height:2vh;
  border-radius: 12px;
  margin: 0;
  font-size: 30px;
  padding: 20px;
  border-color: #ffffff;
}

.get-started-form >button{
  margin-top: 3vh;
  width: 100%;
  background-color: #679b09;
  border:none;
  opacity: 80%;
  border-radius: 12px;
  color:white;
  font-weight: 600;
  font-size:30px;
  cursor:pointer;
}


.loading{
   position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.card-container{
  display: flex;
  justify-content: center;
  padding: 4rem;
  gap: 4rem;
  flex-wrap: wrap;
}

.meal-card{
  display: flex;
  border-radius: 12px;
  width: 250px;
  height: fit-content;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.meal-image{
  height: 125px;
  object-fit: cover;

}

.meal-content{
  width: 100%;
}


.calorie-badge{
  background-color: #EAEFD4;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.quantity-control{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
  /* border: solid green; */
}

.quantity-control > button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  color:#ffffff;
  border-radius: 12px;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
}

.meals-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.floating-bar{
  display: flex;
  padding: 2rem;
  width: 100%;
  margin-bottom: 0px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  background: #ffffff;
}

.details-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.details-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-form > input{
  height:2rem;
  width: 25rem;
}

.details-submit{
  width:25rem;
  align-self: flex-end;
  border-radius: 12px;
  height: 2rem;
  margin-top: 2rem;
}

.cart-body{
  display: flex;
  justify-content: center;
  width: 100%;
}
.cart{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  

}

.cart-items{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cart-details{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.cart-payment{
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1rem;
  
}
.payment{
  width: 30%;
  display: flex;
  flex-direction: column;

}

.cart-item{
  padding: 2rem;
  display: flex;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width:90%;

  margin-bottom: 1rem;

}
.cart-info{
  margin-left: 1rem;
}

.payment-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.payment > button{
  margin: 2rem;
  height: 6vh;
  border-radius: 12px;
  border: none;
  font-size: 1.1rem;
  background-color: #679b09;
  color: #ffffff;
  font-weight: 600;
  width: 100%;
}

.cart-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 900px) {
  .cart-details {
    flex-direction: column;
    align-items: center; /* Center align items in the cross axis */
  }

  .cart-items, .payment {
    width: 100%; /* Ensure child elements take full width */
  }
}

.existing-container{
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content ;
  padding: 2rem;
  border-radius: 12px;
  margin-top: 6vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.address-card{
  padding: none;
  border-radius: 12px;
  padding: 1rem;
  cursor: pointer;
}

.existing-customer-submit{
  width: 100%;
  margin-top: 0.5rem;
  cursor: pointer;
  background-color: #679b09;
  border: none;
  color:#ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 6px;
}

.new-address-form-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.new-address-form-container > div{
  display: flex;
  flex-direction: column;
}

.new-address-form-container > div > input{
  border-radius: 12px;
  height: 5vh;
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

.login-form-container{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
}

.login-form-container > form{
  margin-top: 1rem;
}


.login-form-container > form > div{
  display: flex;
  flex-direction: column;
}

.login-form-container > form > div >input{
  height: 5vh;
  border-radius: 12px;
  font-size: 1.1rem;
  padding: 0.5rem;


}

.login-form-container > form > button{
  width: 100%;
  height: 3.5vh;
  color:#ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #679b09;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.plan-price-info{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 12px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan-price-info > hr{
  color: #3333;
}

.plan-price-row{
  display: flex;
  justify-content: space-between;
}



/* .login-get-started > p{
  font-size: 0.5rem;
} */
